
.SignUp {
  background-color: var(--green);
  color: var(--grey); 
  min-height: 100vh;
  overflow: auto;
}

.SignUp .container {
  height: auto;
  flex-direction: column;
  justify-content: flex-start; 
}

.SignUp .body-btn {
  background-color: Transparent;
  border: 3px solid var(--grey);
  border-radius: 5px;
  color: var(--grey);
  font-size: 24px;
  height: auto;
  line-height: 54px;
  padding: 0 12px;
  width: 150px;
}

.SignUp input {
  border-radius: 5px;
}

/*** For Small Screens ***/
@media only screen and (min-width: 0px) and (max-width: 520px){
  .SignUp .buttons button {
    width: calc(50vw - 18px);
  }
  .SignUp .buttons {
    justify-content: space-between;
    width: 100%;
  }    
  .SignUp .container {
    min-height: calc(100% - 183px);
    /*justify-content: space-between;*/
    margin: 12px 12px;
    text-align: left;
  }
  .SignUp input {
    border-radius: 5px;
    height: 36px;
    width: calc(100% - 4px);
  }
  .SignUp label {
    display: inline-block; 
    font-size: .67em;
  }
  .SignUp .errMssg {
    display: inline-block; 
    font-size: .67em;
    margin-left: 12px;
  }
  #signin-submit-btn {
    align-self: center;
  }
}

/*** For Larger Screens ***/
@media only screen and (min-width: 520px) {
  .SignUp .container {
     margin: 12px auto;
     max-width: 1200px;
   }
  .SignUp label {
  }
}

