@font-face {
  font-family: 'Pacifico';
  src: local('Pacifico'), url(../../fonts/Pacifico-Regular.ttf) format('truetype');
}

.LandingPage {
  background-color: #414438;
}

.LandingPage-subheader {
  margin-top: 0;
  color: white;
}

.LandingPage-Flex {
  height: calc(100vh - 168px);
  width: 100vw;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
