@font-face {
  font-family: 'Pacifico';
  src: local('Pacifico'), url(../../../fonts/Pacifico-Regular.ttf) format('truetype');
}

.NavBar {
  background-color: var(--grey);
}

.NavBar .app-title {
  font-family: 'Pacifico';
  color: var(--orange);
  font-weight: normal;
  font-size: 48px;
  margin-left: 12px;
}

.sign-btn {
  color: var(--green);
  background-color: Transparent;
  height: auto;
  width: 150px;
  border: 3px solid var(--green); 
  border-radius: 5px;
  line-height: 54px;
  font-size: 24px;
}

/*** For Small Screens ***/
@media only screen and (min-width: 0px) and (max-width: 520px){
  .NavBar {
    justify-content: space-evenly;
  }
  
  .NavBar .buttons {
    width: 100%;
    justify-content: space-between;
    margin: 0 12px 12px 12px;
  }

  .NavBar button {
    width: calc(50vw - 18px);
  }
}

/*** For Larger Screens ***/
@media only screen and (min-width: 520px) {
  .NavBar {
    justify-content: space-between;
  }
  .sign-btn {
    margin: 12px 12px 12px 0;
  }
}

