@font-face {
  font-family: 'Pacifico';
  src: local('Pacifico'), url(./fonts/Pacifico-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'HindMadurai';
  src: local('HindMadurai'),
    url(./fonts/HindMadurai-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'HindMadurai';
  src: local('HindMadurai'),
    url(./fonts/HindMadurai-Regular.ttf) format('truetype');
  font-weight: normal;
}

:root {
  --grey: #414438;
  --green: #6da34d;
  --orange: #ff7e28;
}

.App {
  text-align: center;
  font-size: 24px;
  font-family: 'HindMadurai', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.color-orange {
  color: var(--orange)
}

.flexbox {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.float-right {
  float: right;
}

.margin-top-12 {
  margin-top: 12px;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.text-align-center {
  text-align: center;
}
